.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
variables.tfvars
variables.txt
files/.DS_Store
.DS_Store
Thumbs.db
hunting/config.ini
lab/files/create-ad.ps1
lab/files/install-utilities.ps1